In [1]:
import pandas as pd
import pylab as py
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pwd

'C:\\Users\\lenovo\\Documents\\Jupyter Projects\\Regression Models\\Multiple Linear Regression Models'

In [4]:
df=pd.read_csv('C:\\Users\\lenovo\\Documents\\Jupyter Projects\\Regression Models\\Sample.csv')
df.head()

,MODEL,MAKE,MODEL.1,VEHICLE CLASS,ENGINE_SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL_CONSUMPTION,Unnamed: 9,Unnamed: 10,Unnamed: 11,CO2_EMISSIONS
0,2001,ACURA,1.7EL,COMPACT,1.7,4,A4,X,9.3,7.2,8.3,34,191
1,2001,ACURA,1.7EL,COMPACT,1.7,4,M5,X,8.9,7.4,8.3,34,191
2,2001,ACURA,3.2CL,COMPACT,3.2,6,AS5,Z,13.7,8.8,11.5,25,265
3,2001,ACURA,3.2TL,MID-SIZE,3.2,6,AS5,Z,13.8,8.8,11.6,24,267
4,2001,ACURA,3.5RL,MID-SIZE,3.5,6,A4,Z,15.0,10.9,13.1,22,301

In [9]:
msk=np.random.rand(len(df))<0.3
train=df[msk]
test=df[~msk]
df.columns

Index(['MODEL', 'MAKE', 'MODEL.1', 'VEHICLE CLASS', 'ENGINE_SIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUEL', 'FUEL_CONSUMPTION', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'CO2_EMISSIONS'],
      dtype='object')

In [12]:
from sklearn import linear_model
regr=linear_model.LinearRegression()
train_x=np.asanyarray(train[['ENGINE_SIZE', 'CYLINDERS','FUEL_CONSUMPTION','CO2_EMISSIONS','Unnamed: 9', 'Unnamed: 10','Unnamed: 11']])
train_y=np.asanyarray(train[['CO2_EMISSIONS']])
regr.fit(train_x,train_y)
print("The Coefficients are :",regr.coef_[0][0],regr.coef_[0][1],regr.coef_[0][2],regr.coef_[0][3],regr.coef_[0][4],regr.coef_[0][5],regr.coef_[0][6])
print("The Intercept is:",regr.intercept_[0])

The Coefficients are : 2.0149152167777862e-14 -2.3314683517128287e-15 -1.3704315460216776e-14 1.0000000000000004 -5.551115123125783e-15 1.3676559884601147e-14 6.938893903907228e-17
The Intercept is: -1.1368683772161603e-13

In [16]:
from sklearn.metrics import r2_score
test_x=np.asanyarray(test[['ENGINE_SIZE', 'CYLINDERS','FUEL_CONSUMPTION','CO2_EMISSIONS','Unnamed: 9', 'Unnamed: 10','Unnamed: 11']])
test_y=np.asanyarray(test[['CO2_EMISSIONS']])
test_y_hat=regr.predict(test_x)
print("The MAE : %.2f " %np.mean(np.absolute(test_y_hat-test_y)))
print("The MSE : %.2f " %np.mean((test_y_hat-test_y)**2))
print("The R2 Score : %.2f " %r2_score(test_y_hat,test_y))

The MAE : 0.00
The MSE : 0.00
The R2 Score : 1.00