In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pylab as py
%matplotlib inline

In [2]:
pwd

'C:\\Users\\lenovo\\Documents\\Jupyter Projects\\Regression Models\\Multiple Linear Regression Models'

In [5]:
df=pd.read_csv('C:\\Users\\lenovo\\Documents\\Jupyter Projects\\Regression Models\\Telecust.csv')
df.head(9)

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3
5,2,41,39,0,17,78.0,2,16,0.0,1,1,3
6,3,45,22,1,2,19.0,2,4,0.0,1,5,2
7,2,38,35,0,5,76.0,2,10,0.0,0,3,4
8,3,45,59,1,7,166.0,4,31,0.0,0,5,3

In [6]:
df.columns

Index(['region', 'tenure', 'age', 'marital', 'address', 'income', 'ed',
       'employ', 'retire', 'gender', 'reside', 'custcat'],
      dtype='object')

In [7]:
cdf=df[['tenure','address','income','employ']]
cdf.head()

   tenure  address  income  employ
0      13        9    64.0       5
1      11        7   136.0       5
2      68       24   116.0      29
3      33       12    33.0       0
4      23        9    30.0       2

In [8]:
msk=np.random.rand(len(df))<0.3
train=df[msk]
test=df[~msk]

In [17]:
from sklearn import linear_model
regr=linear_model.LinearRegression()
train_x=np.asanyarray(train[['address','tenure','employ']])
train_y=np.asanyarray(train[['income']])
regr.fit(train_x,train_y)
print("The Coefficients are : ",regr.coef_[0][0],regr.coef_[0][1],regr.coef_[0][2])
print("The Intercept is : ", regr.intercept_[0])

The Coefficients are :  -0.29941354041477963 0.014180537615712474 5.680677852297395
The Intercept is :  22.032212645965423

In [25]:
test_x=np.asanyarray(test[['address','tenure','employ']])
test_y=np.asanyarray(test[['income']])
test_y_hat=regr.predict(test_x)

In [35]:
from sklearn.metrics import r2_score
print("The MAE is : %.2f" %np.mean(np.absolute(test_y_hat-test_y)))
print("The MSE is : %.2f" %np.mean(test_y_hat - test_y)**2)
print("The R2 Score is : ",r2_score(test_y_hat,test_y))

The MAE is : 43.98
The MSE is : 32.40
The R2 Score is :  -1.8687461992661154